p {
  margin: 0;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

.feedback__listButtons {
  display: flex;
  justify-content: center;
}

.listButtons__item:not(:last-child) {
  margin-right: 10px;
}
